{{extend 'layout.html'}}

<h2 align="center">[Machines]</h2>

    <script src="/mfpdcb/static/js/jquery-1.5.min.js"></script>
    <script src="/mfpdcb/static/js/jquery.mousewheel.min.js"></script>
    <script src="/mfpdcb/static/js/jquery.terminal-0.4.3.js"></script>
    <script src="/mfpdcb/static/js/dterm.js"></script>
    <link href="/mfpdcb/static/css/jquery.terminal.css" rel="stylesheet"/>

    

<style type="text/css">
p.message_head
{
border: solid 1px #FFFFFF;
}
</style>

	<script>
	
		terminalInterface = null;
    	var box1 = {
    	  
		  join : function(name) {
		    this._username = name;
		    var location = "ws://127.0.0.1:9002/endpoint/shell/box1";
		    this._ws = new WebSocket(location, "chat");
		    this._ws.onopen = this.onopen(name);
		    this._ws.onmessage = this.onmessage;
		    this._ws.onclose = this.onclose;
		  },
		 
		  onopen : function(name) {
		    <!--this.send('Hello from Shell - User '+name+' connected');-->
		  },
		  
		  send : function(cmd) {
		  	//Put Ajax Post Request HERE
			var data = {message: cmd, group: "boxes"};
			var myrequest =  $.ajax({
			  url: "{{=URL('ajaxproxy')}}",
			  data: data,
			  type: "POST",
			});
		  },
		  
		  onmessage : function(m) {
		    //Callback to Terminal Goes HERE
		    terminalInterface.echo(m.data);
		  },
		  
		  onclose : function(m) {
		    this._ws = null;
		  }
		};
		box1.join("f47h3r");
            
    
    $(document).ready(function(){
        
        //hide message_body after the first one
        $(".message_list .message_body").hide();
        
        //toggle message_body
        $(".message_head").click(function(){
            $(this).next(".message_body").slideToggle(1000)
            return false;
        });
    {{for index in range(len(machines)):}}
        $('#term{{=index}}').terminal(function(command, term) {			    
			    box1.send(command);
			    terminalInterface = term;
			},{
            login: false,
            greetings: "Follow the white rabbit...",
            width: 800,
            height: 320
        });
    {{pass}}
        

    });

    </script>

   
    
    
    <ol class="message_list">
    
    {{i=0}}
    {{for machine in machines:}}
    <li>
        <p class="message_head">Hostname: <cite>{{=machine.hostname}}</cite> - {{=machine.ipaddress}} - {{=machine.os}}<span style="display: block; text-align: right;" class="status">Online</span></p>
        <div class="message_body">
            <div id="term{{=i}}" align="left"></div>
        </div>
    </li>
    {{i += 1}}
    {{pass}}
    </ol>
    
    
<!-- 
<button id="open_term">open dialog</button>
-->
This is where shit goes down.... how did you stumble upon thee?
