body  {
background: #000;
margin: 0;
color: #FFFFFF;
text-decoration: none; 
font-size: 14px; 
/*font-family: "Arial Narrow", "Myriad Pro";*/
font-family: "Courier New", Courier, monospace;
}
}

#container { 
width: 780px;
margin: 0 auto;
background: #000;
}

#header { 
padding: 45px 0 20px 40px;
} 

#header a {
color: #FFFFFF;
text-decoration: none;
font-size: 30px; 
/*font-family: "Myriad Pro", "Arial Narrow";*/
font-family: "Courier New", Courier, monospace;
}

#menu {
background-color: #000; 
padding: 6px 0 6px 40px;
}

#menu a {
color: #FFFFFF;
text-decoration: none; 
font-size: 14px; 
/*font-family: "Arial Narrow", "Myriad Pro";*/
font-family: "Courier New", Courier, monospace;
}

#menu a:hover {
color: #ecf2f3;
}

#web2py_user_form {
color: #FFFFFF;
text-decoration: none; 
font-size: 14px; 
/*font-family: "Arial Narrow", "Myriad Pro";*/
font-family: "Courier New", Courier, monospace;
}

#sidebar {
float: left;
width: 120px;
padding: 30px 0 0 40px;
margin: 0;
}

h1 {
margin: 0px;
color: #FFFFFF; 
font-size:24px; 
/*font-family: "Arial Narrow", "Myriad Pro";*/
font-family: "Courier New", Courier, monospace;
font-weight: normal;
}

h2 {
color: #FFFFFF;
font-size: 15px; 
margin: 18px 0 5px 0;
/*font-family: "Arial Narrow", "Myriad Pro";*/
font-family: "Courier New", Courier, monospace;
font-weight: normal;
}

#main { 
margin: 0 0 0 90px;
padding: 35px 40px 30px 0;
color: #FFFFFF;
font-family: "Georgia";
font-size: 13px; 
line-height: 18px;
text-align: justify;
/*font-family: "Arial Narrow", "Myriad Pro";*/
font-family: "Courier New", Courier, monospace;
font-weight: normal;
} 

#main a {
color: #FFFFFF; 
text-decoration: none;
}

#main a:hover {
color: #444444;
}

#footer {
padding: 6px 40px 6px 40px;
background: #d6d6d6; 
font-family: "Lucida Sans Unicode";
color: #444444;
font-size: 11px;
text-align: right;
}

#footer a {
text-decoration: none; 
color: #262626;
}

#footer a:hover {
color: #666666;
}

.separator {
font-size:11px;
color:#FFFFFF;
}